/* .bestoffer{
    transform: rotate(-30deg);
    margin-left: -40px;
    width: 100px;
    height: auto;
    margin-top: 10px;
    color: white;
    padding-bottom: 3px;
    clip-path: polygon(10% 0%, 75% 0%, 100% 55%,0% 80%);
} */